{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h1 class="display-4 mb-3">Movie Recommendation System</h1>

    <p class="lead">
        Find movies similar to your favorite ones using our recommendation system.
    </p>
    {% if error %}
    <div class="alert alert-danger text-center" role="alert">
        {{ error }}
    </div>
    {% endif %}
    
    <form action="/recommendations/" method="GET" class="mt-4">

        <div class="row justify-content-center">
            <div class="col-md-6">
                <input
                    type="text"
                    name="movie"
                    class="form-control"
                    placeholder="Enter a movie name..."
                    value="{{ movie_name|default:'' }}"
                    required
                >
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary">
                    Recommend
                </button>
            </div>
        </div>
    </form>

</div>

{% endblock %}